.top {
    color:darkgreen;
}

.hero {
    background-image: url("assets/heroImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 640px;
    margin-top: 40px;
}

.welcome{
    margin-top: 80px;
}

.sub {
    margin-top: 80px;
}

.cta {
    margin-top: 80px;
}

.cards {
    width: 1000px;
    margin-top: 80px;
    margin-left: 150px;
    padding: 10px;
}

#input1 {
    width: 200px;
    margin-left: 50px;
}

label {
    margin-left: 50px;
}

.submit {
    min-width: 30%;
}